<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/assets/img/intro.jpg"/>
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">About Journaling</span>
                    <span class="section-heading-lower">It's about you</span>
                </h2>
                <p class="mb-3">Creative Journaling serves a powerful tool for individuals seeking to alleviate stress and nurture their mental well-being!
                    By engaging in the process of documenting thoughts and emotions in a visually appealing and personalized format, individuals can effectively unwind
                    and navigate through the coomplexities of their inner world.
                </p>

            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">

                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">The practice of journaling no only offers a cathartic outlet for expressing feelings but also encourages self-reflection and introspection,
                        fostering a deeper understanding of one's emotions and experiences.
                        Addionally, the act of transforming thoughts and sentiments into aesthetically pleasing pages cultivats a sense of creativity and mindfulness, promoting a state of relaxation and inner peace.
                        Through creative journaling, individuals are empowered to embark on a journey of self-discovery, utilizing aritstry and self-expression as means to navigate 
                        life's challenges and foster mental resilience. Try it!
                    </p>
                    <br />
                    <img src="~/assets/img/journal3.jpg" width="280" />
                    <br />
                    <br />
                    <p>
                        On top of all these great things, Journaling comes with alot of benefits. 
                        With journaling you can enhance creativity by being your unique self and journaling however you want. You can boost your memory by recording 
                        those special moments of your life and documenting them. Journaling also helps reduce stress because it is a calming hobby, and by doing so 
                        you are also enhance your critical thinking skills! If that wasn't enought, journaling helps you regulate your emotions!
                     
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>